<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="firstName" value="Jane"/> <!-- Custom added values -->
		<add key="lastName" value="Doe"/>   <!-- Custom added values -->
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;User ID=User;Password=Password"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
